<%= form_with model: plant do |form| %>
  <div>
    <%= form.label :name %>
      <br>
      <%= form.text_field :name %>
        <% plant.errors.full_messages_for(:name).each do |message| %>
          <div>
            <%= message %>
          </div>
          <% end %>
  </div>

  <div>
    <%= form.label :description %>
      <br>
      <%= form.text_area :description %>
        <% plant.errors.full_messages_for(:description).each do |message| %>
          <div>
            <%= message %>
          </div>
          <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
      <%= form.select :status, ["public", "private" , "archived" ], selected: "public" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %>